[user]
	email = 52125859+Paul-creator@users.noreply.github.com
	name = Paul-creator
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = %(prefix)///Mac/Mac++/ExtendedStorage/Projects/DanielSturmaier/TOM
	directory = /Mac/Mac++/ExtendedStorage/Projects/DanielSturmaier/TOM
[core]
	autocrlf = input
	excludesFile = /Users/paulkronegger/.gitignore_global
[http]
	sslVerify = false
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
